*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.outer{
    border: 5px solid black;
    border-radius: 50%;
    display: flex;
        align-items: center;
        justify-content: center;
}
.inner{
        height: 33vh;
            width: 16vw;
            display: flex;
            justify-content: center;
           
            align-items: center;
}
.btn{
        display: flex;
            align-items: center;
            justify-content: center;
            margin: 25px;
}
button{
    border: 2px solid black;
        border-radius: 50%;
        height: 9vh;
        width: 4vw;
        background-color: transparent;
        margin: 16px;
        cursor: pointer;
}
.start{
    background-color: greenyellow;
    cursor: pointer;
}
.stop{
background-color: red;
}
.reset{
    background-color: aqua;
}
@media only screen and (max-width: 360px){
.inner{
    width: 32vw;
}
button{
    width: 10vw;
}
.outer{
        height: 20vh;
            display: flex;
            width: 70vw;
            align-items: center;
            justify-content: center;
}
}